.sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 306px;
  flex-shrink: 0;
  padding: 37px 28px 76px;
  background-color: white;
  box-shadow: 0 10px 60px 0 rgba(226, 236, 249, .5);

  &__logo {
    display: block;
    width: 100%;
    max-width: 215px;

    + nav {
      margin-top: 55px;
    }
  }

  &__logo-link {
    display: block;
    width: 100%;

    picture {
      display: block;

      img {
       display: block;
       width: 100%;
     }
    }
  }

  &__user {
    display: grid;
    grid-template-columns: 42px 1fr;
    align-items: center;
    gap: 0 12px;
    margin-top: auto;
  }

  &__user-logo {
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;

    picture {
      display: block;

      img {
        display: block;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__user-name {
    grid-column-start: 2;
    font-size: 14px;
    font-weight: 500;
  }

  &__user-position {
    grid-column-start: 2;
    font-size: 12px;
    color: #757575;
  }
}